<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="sign-in-htm">
        <div *ngIf="invalidLogin" class="error">
          <div>Invalid credentials.</div>
        </div>
				<div class="group">
					<label for="user" class="label">Username</label>
          <input id="user" type="text" [formControl]="loginForm.controls['username']" class="input">
          <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" [formControl]="loginForm.controls['password']"  data-type="password">
          <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
				</div>
				<div class="group">
					<input type="submit" [disabled]="loginForm.invalid" style="cursor: pointer;" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
      </div>
    </form>
    <form [formGroup]="registerform" (ngSubmit)="onSubmitreg()">
			<div class="sign-up-htm">
        <div class="group">
					<label for="pass" class="label">First Name</label>
					<input id="firstname" type="text" [formControl]="registerform.controls['firstname']" class="input">
        </div>
        <div class="group">
					<label for="pass" class="label">Last Name</label>
					<input id="lastname" type="text" [formControl]="registerform.controls['lastname']" class="input">
				</div>
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" [formControl]="registerform.controls['useremail']" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" [formControl]="registerform.controls['password']" data-type="password">
        </div>
        <div class="group">
					<label for="pass" class="label">Mobile No</label>
					<input id="lastname" type="text" [formControl]="registerform.controls['mobileNo']" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1"><a>Already Member?</a></label>
				</div>
      </div>
    </form>
		</div>
	</div>
</div>